.time-stop-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  .play-pause-btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .timeline-slider {
    width: 100%;
    appearance: none;
    height: 4px;
    background: #ddd;
    outline: none;
  }
  
  .timeline-slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: gray;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .timeline-slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: gray;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .years-labels {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: gray;

 
  }
  .under-years-labels { top: 30px; }